<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <h2>Choose artists for the playlist</h2>

    <form action="/chooseArtists" method="POST" id="chooseArtists">
        <div class="grid">
        
        {% for artist in artistsList %}
        <div class="square">
            <input type="checkbox" name="chosenArtists[]" value="{{artist.name}}" id="{{artist.name}}" checked >

               
                <label for="{{artist}}">
                    <a href="#"><img src="{{ artist.image }}" alt="{{ artist.name }}"></a>
                    {{ artist.name }}
                </label>
            </div>
        {% endfor %}
        </div>
        <input type="button" id="select-deselect" value="Select/Deselect All">
        <br>
        <input type="submit" value="Submit">
    </form>
    


{% block scripts %}
  <script src="{{ url_for('static', filename='js/select-deselect.js') }}"></script>
{% endblock %} 

  </body>
</html>
    
    
  