    <h2>Choose artists for the playlist</h2>

    <form action="/chooseArtists" method="POST" id="chooseArtists">
        <ul>
        {% for artist in artistsList %}
            <li style="list-style-type: none">
                <input type="checkbox" name="chosenArtists[]" value="{{artist}}" id="{{artist}}" checked >
                <label for="{{artist}}">{{ artist }}</label>
            </li>
        {% endfor %}
    </ul>
        <input type="button" id="select-deselect" value="Select/Deselect All">
        <br>
        <input type="submit" value="Submit">
    </form>
    

{% block scripts %}
  <script src="{{ url_for('static', filename='js/select-deselect.js') }}"></script>
{% endblock %}
